<h3>Priority Number</h3>
<br />
<br />
<br />
<br />
<div class="row">
  <div class="col-sm-4">
    <h1 style="text-align:right;font-size: 110px;">{{nowServingNumber}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <button style="margin-bottom:20px" (click)="resetNumber()" mat-raised-button>Reset</button>
  </div>
  <div style="width: 34.333333%;" class="col-sm-4">

  </div>
  <div class="col-sm-3">
    <button style="margin-bottom:20px" (click)="nextNumber()" mat-raised-button>Next Number</button>
  </div>
 
</div>
